:root {
    --font-family-header: "Playfair Display", serif;
    --font-family-marca: "Dancing Script", cursive;
    --font-family-main: "Montserrat", sans-serif;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-family-footer: "Lato", sans-serif;
    --background-color-header: linear-gradient(135deg, rgba(245, 166, 35, 0.8) 0%, rgba(245, 166, 35, 0.5) 100%);
    --background-color-list: rgba(255, 255, 255, 0.2);
    --background-color-footer: #8C564B;
    --background-color-general: #FFF8E7; 
    --color-text: #333333;
    --border-radius-links: 3px; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-header);
    font-weight: var(--font-weight-normal);
}

body {
    background-color: var(--background-color-general);
    color: var(--color-text);
    overflow-x: hidden;
}

header {
    font-family: var(--font-family-header);
    font-weight: var(--font-weight-bold);
    background-image: url('../Images/Background_Image.jpeg');
    background-size: cover; 
    background-position: center; 
    color: var(--color-text);
    width: 100%;
    overflow: hidden;
    padding: 5%;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: 1; 
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.container-fluid {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

#nav-links {
    list-style: none;
    display: flex;
}

#nav-links li a i {
    font-size: 20px; 
    width: 3vw;
    color: #ff5733;
    transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; 
    text-align: center;
    z-index: 2;
}

#nav-links li a:hover i {
    color: #7f3d92; 
}

.Logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    z-index: 2;
    height: auto;
}

.Logo img{
    text-decoration: none;
    height: 8vh;
    width: auto;
}

.Logo span {
    font-family: var(--font-family-marca);
    width: max-content;
    font-weight: var(--font-weight-bold);
    font-size: larger;
}

ul {
    display: flex;
    align-items: center; 
    list-style-type: none;
    z-index: 2;
    margin-right: auto;
}

li {
    display: inline-block; 
}

.Links a{
    display: flex;
    gap: 10px; 
    align-items: center;
    text-decoration: none;
    background-color: var(--background-color-list);
    font-family: var(--font-family-header);
    margin: 10px;
    border-radius: var(--border-radius-links);
    font-size: 16px; 
    font-weight: 500; 
    color: #000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    transition: color 0.3s, transform 0.3s, box-shadow 0.3s; 
    padding: 5px 10px; 
}

.Links a:hover {
    background-color: #f5a623; 
    transform: scale(1.1); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.Links button, .Links a {
  display: inline-block;
  width: auto; 
  padding: 5px 10px;
  box-sizing: border-box;
  height: 36px; 
  line-height: 26px; 
  white-space: nowrap;
}

.cart a {
    border: 2px solid #a355c0;
}

.Links .btn-login {
    background-color: #4a2a6a; 
    color: #ff5733;
    border: 2px solid #a355c0;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.btn-login:hover {
    color: #7f3d92; 
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.menu-toggle {
    display: none; 
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

main {
    font-family: var(--font-family-main);
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    min-height: 100vh; 
    background: var(--background-color-header);
    position: relative; 
    z-index: 2;
}

.login {
  font-family: var(--font-family-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 5%;
  background-color: var(--background-color-list);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 10vh auto;
}

.login h2 {
  font-family: var(--font-family-header);
  font-weight: var(--font-weight-bold);
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: var(--color-text);
}

.login form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family: var(--font-family-main);
}

.login button {
  padding: 12px;
  background-color: #4a2a6a;
  color: #ff5733;
  border: 2px solid #a355c0;
  font-family: var(--font-family-main);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login button:hover {
  background-color: #a355c0;
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.presentacion {
    border-bottom: 2px solid #ddd;
    width: 100%;
}

.presentacion-texto {
    font-size: 1.2rem; 
    color: #333; 
    text-align: center; 
    max-width: 80vw; 
    margin-bottom: 4vh;
}

.video-container {
    width: 50vw;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.video {
    width: 100%;
    height: auto;
    display: block;
}

h1 {
    margin-top: 15vh;
} 

h2 {
    margin-top: 15vh;
    text-align: center;
} 

h3 {
    margin-bottom: 5vh;
    margin-top: 2vh;
}

.admin-title {
    margin-bottom: 5vh;
    margin-top: 2vh;
}

.admin-h3 {
    margin-bottom: 5vh;
    margin-top: 15vh;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    border-bottom: 2px solid #ddd;
    z-index: 2;
}

.productos h2 {
    z-index: 2;
}

.producto {
    display: flex;
    background-color: var(--background-color-list);
    color: black;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    flex: 1 1 300px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    padding: 15px;
    min-height: 450px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.producto img {
    max-width: 100%; 
    height: 40vh; 
    display: block; 
    margin: 0 auto; 
}

.precio {
    font-size: 1.2rem;
    font-weight: bolder;
}

.total {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.btn-descripcion {
    margin-top: 2vh;
    padding: 10px 15px;
    background-color: #6c63ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-descripcion:hover {
    background-color: #5849d8;
}

.descripcion-ampliada {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.4;
}

.producto-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.producto-imagen {
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.producto-titulo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.producto-precio {
    font-size: 16px;
    color: #28a745;
    margin-bottom: 8px;
}

.producto-descripcion {
    font-size: 14px;
    color: #555;
    margin-bottom: 16px;
}


.opiniones {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20vw, 1fr));
    grid-template-rows: auto 1fr;
    gap: 5vw;
    width: 100vw;
    overflow: hidden;
    padding: 5%;
    justify-items: center;
    z-index: 2;
    border-bottom: 2px solid #ddd;
}

.titulo-reseñas, .parrafo-reseñas {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.card{ 
    background-color: white; 
    border-radius: 8px;
    padding: 2%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 400px; 
    text-align: center; 
    overflow: hidden;
}

.titulo-reseñas {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 80px; 
    height: 80px;
    border-radius: 50%; 
    margin-bottom: 10px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card h3 {
    font-family: var(--font-family-main); 
    font-weight: bold;
    margin: 10px 0;
    color: var(--color-text);
}

.card p {
    font-size: 1rem;
    line-height: 1.5;
}

.titulo-form {
    margin-top: 5vh;
}

.Form {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    width: 80%;
    margin-top: 5vh auto;
}

.Form form {
    display: flex; 
    width: 100%;
    max-width: 40vw; 
    padding: 50px;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.Form label,
.Form input,
.Form textarea,
.Form button {
    display: block; 
    width: 90%; 
    margin-bottom: 10px; 
}

.Form input,
.Form textarea {
    padding: 8px; 
    font-size: 1rem;
}

.Form button {
    width: 50%;
    align-self: center;
    padding: 12px 5px; 
    background-color: var(--background-color-list); 
    color: black; 
    border: 2px solid #a355c0; 
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold; 
    font-size: 16px; 
    cursor: pointer; 
    text-align: center; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease-in-out; 
}

.Form button:hover {
    background-color: #a355c0; 
    color: #ffffff; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05); 
}

.Form button:active {
    transform: scale(0.95); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

footer {
    font-family: var(--font-family-footer);
    background-color: var(--background-color-footer);
    color: white;
}

@media (min-width: 1501px) {
    #nav-links {
        margin: 0 40vw;
    }
}

@media (max-width: 1500px) {
    #nav-links {
        margin: 0 30vw;
    }
}

@media (max-width: 1300px) {
    #nav-links {
        margin: 0 20vw;
    }
}

@media (max-width: 1100px) {
    #nav-links {
        margin: 0 10vw;
    }
}

@media (max-width: 950px) {
    #nav-links {
        margin: 0 5vw;
    }
}

@media (max-width: 850px) {
    nav {
        position: inherit;
    }

    #nav-links {
        flex-direction: column; 
        position: absolute;  
        right: 10px; 
        top: 15vh; 
        background-color: white; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        width: 30%; 
        padding: 20px 0; 
        display: none; 
    }

    #nav-links.show {
        display: flex; 
    }

    .menu-toggle {
        cursor: pointer;
        display: block;
        position: absolute; 
        right: 10vw; 
        font-size: 24px;
        z-index: 20; 
    }

    .Form {
        width: 100%;
    }

    .Form form {
        max-width: 80vw; 
    }

    #navbarNav {
        display: none;
        flex-direction: column;
        background: none;
        width: 100%; 
        top: 10vh;
    }

    #navbarNav #nav-links {
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 20;
        padding-left: 0; 
    }

    #navbarNav li {
        margin: 10px 0;
    }

    #navbarNav.active {
        display: flex;
        z-index: 20;
    }

    .menu-toggle {
        display: block;
    }
}

@media (max-width: 768px) {
    .opiniones {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 650px) {
    .menu-toggle {
        margin: 0 20vw;
    }
}